nav {
    color: snow;
    background-color: black;
}
.menu {
    display: flex;  
    align-items: center;
}

.menu li {
    width: 10%;
    list-style: none;
}

.menu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:goldenrod;

}

.logo {
    flex-grow: 3;
}
.logo img {
    width: 8%;
    padding-left: 5px;
}
#interes:hover {
    background-color: snow;
    color: black;
    border-radius: 3px;
}

#lamboarriba {
    padding-right: 420px;
    
}

#lamboarriba img {
    width: 110%;
    padding-top: 8px;
}

header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    padding-top: 1%;
}

#interes {
    padding-right: 4px;
}